################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Client/obj
/Server/obj/Debug/net5.0
/Server/obj/Release/net5.0
/Server/obj
/Shared/obj/Debug/net5.0
/Shared/obj/Release/net5.0
/Shared/obj
